{% load static %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>Adaptive Player</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="app">
      <h1 class="title">مشغّل فيديو تلقائي ويدوي</h1>

      <div class="player-card">
        <div class="video-wrapper">
          <video id="video" controls autoplay muted></video>
          <span id="qualityBadge" class="quality-badge">144p</span>
          <div id="spinner" class="spinner hidden"></div>
        </div>

        <div class="controls">
          <select id="qualitySelect"></select>
          <button id="autoBtn">AUTO</button>
        </div>

        <p id="status" class="status">Manual mode</p>
        <p id="speed" class="speed">Speed: -- Mbps</p>
      </div>
    </div>

    <!-- ✅ سكربت واحد فقط كـ module -->
    <script type="module" src="{% static 'js/player.js' %}"></script>
  </body>
</html>
